= form_for(@invitation) do |f|
  = form_errors(@invitation)
  .form-group.required
    = f.label :email, class: "control-label"
    = f.text_field :email, class: 'form-control'
  .form-actions.clearfix.m-t-lg
    .pull-right
      = f.submit 'Send', class: 'btn btn-primary'




