%html
  %head
    %title Points Reward
    %meta{content: "user-scalable=yes, initial-scale=1, maximum-scale=8, user-scalable=yes, minimum-scale=0.5, width=device-width, height=device-height", name: "viewport" }/
    %meta{charset: "utf-8"}
    %meta{name: 'robots', content: 'all,follow'}
    %meta{name: 'googlebot', content: ''}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{name: 'description', content: ''}
    %meta{name: 'keywords', content: ''}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags
    = csp_meta_tag
  %body
    = render 'layouts/header'
    - [:notice, :alert, :success].each do |type|
      - message = flash[type]
      - unless message.nil?
        - message_type = 'info' if type == :notice
        - message_type = 'danger' if type == :alert
        - message_type = 'success' if type == :success
        %div{class: "alert alert-#{message_type}"}
          .container
            .row
              .col-xs-12
                = message
    = yield
    = render 'layouts/footer'

